h1 {
    color: red; 
    background: yellow;
    text-align: center;
    }

table,th,td{
    border: 1px solid black;
    color:blue;
    background-color: greenyellow;
}

table{
    width: 100%;
}

a {
    display: block;
    font-family: Arial;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background-color: tomato;
}

li {
    background-color: thistle;
    font-family:  "Calibri";
}

div {
    background-color: turquoise;
    font-family: fantasy;
}